@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background: url(imagens/home.jpg) no-repeat center scroll;
    background-size: cover;
    height: 1003px;
}

header {
    background-color: black;
    height: 15vh;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1001;
}

@media screen and (max-width: 600px) {
    div.logo img {
        left: 10%;
}
    
}
@media screen and (min-width: 601px) {
    div.logo img {
        left: 17%;
}
    
}

div.logo img {
    height: 10vh;
    display: none;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    display: block;
}

nav ul li {
    color: white;
    display: inline-block;
    padding: 7px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    
    
}

nav {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a:hover {
    color: rgb(132, 132, 132);
    transition: 0.3s;
    text-decoration: underline;
    
}

.search {
    display: block;
    position: relative;
    left: 83%;
    font-size: 3.5vh;
    width: 30px;
}

a.search:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
}

.shop {
    display: block;
    position: relative;
    left: 89%;
    top: -31px;
    width: 30px;
    font-size: 4.5vw;
}

div.shop img {
    position: fixed;
}

.shop img:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
    cursor: pointer;
}

/* Conteúdo */

article {
    color: white;
    position: relative;
    top: 30vh;
    left: 10vw;
    width: 50vw;
}

article h1 {
    width: 300px;
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
}
article p {
    width: 300px;
    color: rgba(255, 255, 255, 0.526);
}

.pegue {
    margin-top: 15px;
    background-color: rgb(92, 44, 0);
    color: white;
    width: 136px;
    padding: 10px;
}

aside {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-top: 710px;
    height: 2000px;
}

aside h1 span {
    color: rgb(255, 189, 127);
    text-transform: uppercase;
}

aside h1 {
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.title {
    font-size: 1.7em;
    text-transform: uppercase;
}

aside p {
    padding: 25px;
    color: rgba(255, 255, 255, 0.554);
    margin-bottom: -30px;
}

div.about img{
    width: 550px;
    
}

.row {
    display: flex;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 30px;
}

.coffee {
   background-color: rgb(31, 31, 39);
   width: 400px;
}

.saiba {
    position: relative;
    display: flex;
    margin: 30px 0px 0px 20px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cdab7d;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.saiba:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

section.menu h1 {
    font-size: 2em;
    margin-top: 50px;
}

div.menu-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 738px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
    margin-top: 70px;
    cursor: pointer;
    
}


div.menu-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

div.menu-1 div {
    height: 300px;
    margin-bottom: 30px;
    margin-right: 10px;
    box-shadow: 0px 0px 2px 0.5px #80808082;
}
div.menu-2 div {
    height: 300px;
    margin-right: 10px;
   box-shadow: 0px 0px 2px 0.5px #80808082;
}



div.menu-1 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
}

div.menu-2 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
} 

div.menu-1 div:hover, div.menu-2 div:hover {
    background-color: white;
}

div.menu-1 div:hover>*, div.menu-2 div:hover>* {
    color: black;
}


div.menu-1 div h3, div.menu-2 div h3 {
    color: white;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -100px;
    justify-content: center;
    cursor: pointer;
    width: 63%;
    height: 30px;
}

span.price {
    display: block;
    position: relative;
    height: 30px;
    color: white;
    top: -100px;
    left: 45px;
}
span.sale {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 14px;
    margin-left: 5px;
}

div.menu-1 div button, div.menu-2 div button {
    display: block;
    position: relative;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
    background-color: #cdab7d;
    border-radius: 10%;
    color: white;
    text-shadow: 1px 1px 1px 1px solid black;
}

div.menu-1 div button:hover, div.menu-2 div button:hover {
    transform: translate(-5px, -5px);
    transition: 0.5s;
}

section.clientes img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 50px;
}
section.clientes div.flex div {
    width: 300px;
    box-shadow: 0px 0px 2px 0.5px #80808082;
    display: inline-block;
    margin: 0 auto;
    margin-right:30px;
    width: 250px;
    padding: 20px;
}

section.clientes div.flex {
    display: block;
    margin: 20px auto 0px auto;
    margin-top: 50px;
    width: 1000px;
}

div.flex p {
    text-align: center;
}

section.clientes h2 {
    text-align: center;
    color: white;
    margin-top: 50px;
}
section.clientes h2 span {
    color: #cdab7d;
}