@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgba(0, 0, 0, 0.541);
    font-family: Arial, Helvetica, sans-serif;
    background: url(imagens/home.jpg) no-repeat center scroll;
    background-size: cover;
    height: 1110px;
    width: 100%;
}

header {
    background-color: #000000;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 1;
}
header div.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo {
    height: 100px;
    left: 10%;
    position: relative;
}
div.logo img {
    height: 100px;
    position: relative;
    display: block;
}

nav ul li {
    color: white;
}

nav ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;

}
#icon {
    transition: .3s;
}

@media screen and (max-width: 750px){
    header div.content {
        width: 100%;
        align-items: flex-start;
    }
    header nav {
        display: none;
        transition: .5s;
        margin-top: 100px;
        margin-bottom: 5px;
    }
    header nav ul {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    header nav li {
        margin: 5px;
        text-transform: uppercase;
        transition: .5s;
        border-radius: 10px;
        border: 2px solid rgba(138, 43, 226, 0.41);
        width: 150px;
    }
    header nav ul li a {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        transition: .5s;
    }
    header nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.62);
        color: black;
        text-decoration: none;
        transition: .5s;
    }
    #icon {
        color: white;
        position: fixed;
        font-size: 3em;
        width: 50px;
        cursor: pointer;
        margin-top: 3%;
        left: 50%;
    }
    #icon:hover {
        background-color: rgba(100, 100, 100, 0.56);
        transition: .3s;
        border-radius: 50%;
    }
    .buy {
        display: flex;
        align-items: flex-start;
        height: 100%;
        position: static;
        margin-top: 4%;
    }
}
@media screen and (min-width: 751px) {
    header div.content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header nav {
        display: block;
        transition: .5s;
        margin-bottom: 5px;
        margin-left: 9%;
    }
    header nav ul {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    header nav li {
        margin: 5px;
        text-transform: uppercase;
        transition: .5s;
        border-radius: 10px;
        border: 1px solid rgba(255, 189, 127, 0.8);
        width: 130px;
    }
    header nav ul li a {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        transition: .3s;
    }
    header nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.62);
        color: black;
        text-decoration: none;
        transition: .3s;
    }
    #icon {
        display: none;
    }
    #icon:hover {
        background-color: rgba(100, 100, 100, 0.56);
        transition: .3s;
        border-radius: 50%;
    }
    .buy {
        display: flex;
        align-items: flex-start;
        height: 100%;
        position: static;
        margin-right: 5%;
    }
}
.aberto {
    display: block;
}

nav {
    position: relative;
    display: flex; !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
}

nav ul li a:hover {
    transition: .3s;
    
}

.search {
    font-size: 3.5vh;
    width: 30px;
    transition: .4s;
    position: relative;
    margin-top: 6px;
    margin-right: 2px;
}

a.search:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
}

.shop {
    display: block;
    width: 40px;
    height: 40px;
    transition: .4s;
    position: relative;
    top: 5px;
}

div.shop img {
    position: fixed;
    transition: .4s;
}

.shop img:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
    cursor: pointer;
}

/* Conteúdo */


article {
    color: white;
    position: relative;
    top: 30vh;
    left: 10vw;
    width: 50vw;
    height: 1103px;
}

@media screen and (max-width: 334px) {
    article h1 {
        width: 100px;
    }
    
    article p {
        width: 100px;
    }

}
@media screen and (min-width: 335px) {
    article h1 {
        width: 30vw;
    }
    
    article p {
        width: 50vw;
    }

}

article h1 {
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
    max-width: 400px;
}

article p {
    max-width: 400px;
    color: rgba(255, 255, 255, 0.526);
}

.pegue {
    margin-top: 15px;
    background-color: rgb(92, 44, 0);
    color: white;
    width: 136px;
    padding: 10px;
}

@media screen and (max-width: 1017px) {
    aside {
        height: 6500px;
    }
    
}
@media screen and (min-width: 1018px) {
    aside {
        height: 3500px;
    }
    
}



aside {
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
}

aside h1 span {
    color: rgb(255, 189, 127);
    text-transform: uppercase;
}

aside h1 {
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding-top: 20px;
    margin-bottom: 50px;
    
}

.title {
    font-size: 1.7em;
    text-transform: uppercase;
}

aside p {
    padding: 25px;
    color: rgb(255 255 255 / 66%);;
    margin-bottom: -30px;
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

@media screen and (max-width: 1017px) {
    .about img{
        position: relative;
        height: 392px;
        max-width: 549px;
        width: 70vw;
    }
    .coffee {
        position: absolute;
        display: block;
        top: 500px;
        left: 50%;
        transform: translate(-50%, -0%);
        margin-bottom: 500px;
        max-width: 549px;
        width: 70vw;

    }
    h1#coffee {
        width: 56vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    section.menu h1 {
        font-size: 2em;
        margin-top: 600px;
    }
}

@media screen and (min-width: 1018px) {
    .coffee {
        width: 542px;
        margin-top: -0.52px;
        max-height: 394px;
    }


    .about img{
        position: relative;
        height: 392px;
        width: 542px;
    }
    
}


.coffee {
   background-color: rgb(31, 31, 39);
}

.coffee h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 60%);
}

.coffee p {
    margin-top: -50px;
    padding-bottom: 55px;
}

@media screen and (max-width: 658px) {
    .saiba {
        margin: 10px 0px 0px 20px;
    }
}
@media screen and (min-width: 658px) {
    .saiba {
        margin: 30px 0px 0px 20px;
    }
}

.saiba {
    position: relative;
    display: flex;
    
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cdab7d;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
    cursor: pointer;
    transition: 0.5s;
}

.saiba:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

section.menu h1 {
    font-size: 2em;
}

@media screen and (max-width: 1017px) {
    div.menu-1 {
        width: 296px;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
@media screen and (min-width: 1018px) {
    div.menu-1 {
        width: 888px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 1017px) {
    div.menu-2 {
        width: 296px;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
}
@media screen and (min-width: 1018px) {
    div.menu-2 {
        width: 888px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

div.menu-1 {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
    margin-top: 70px;    
}


div.menu-2 {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
}

div.menu-1 div {
    height: 300px;
    margin: 30px;
    padding-right: 0px;
    box-shadow: 0px 0px 2px 0.5px #80808082;
    cursor: pointer;
}
div.menu-2 div {
    margin: 30px;
    height: 300px;
   box-shadow: 0px 0px 2px 0.5px #80808082;
   cursor: pointer;
}



div.menu-1 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
}

div.menu-2 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
} 

div.menu-1 div:hover, div.menu-2 div:hover {
    background-color: white;
}

div.menu-1 div:hover>*, div.menu-2 div:hover>* {
    color: black;
}


div.menu-1 div h3, div.menu-2 div h3 {
    color: white;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -100px;
    justify-content: center;
    cursor: pointer;
    width: 63%;
    height: 30px;
}

span.price {
    display: block;
    position: relative;
    height: 30px;
    color: white;
    top: -100px;
    left: 45px;
    width: 60%;
}
span.sale {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 14px;
    margin-left: 5px;
}

div.menu-1 div button, div.menu-2 div button {
    display: block;
    position: relative;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
    background-color: #cdab7d;
    border-radius: 10%;
    color: white;
    text-shadow: 1px 1px 1px 1px solid black;
    transition: 0.2s;
}

div.menu-1 div button:hover, div.menu-2 div button:hover {
    transform: translate(-5px, -5px);
    transition: 0.5s;
}

/* Clientes */

@media screen and (max-width: 1017px) {
    section.clientes div.flex {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 296px;
    }
    
}
@media screen and (max-width: 319px) {
    section.clientes div.flex {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 296px;
    }
    
}
@media screen and (min-width: 1017px) {
    section.clientes div.flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 1017px) {
    section.clientes div.flex div {
        width: 300px;
        display: flex;
        box-shadow: 0px 0px 2px 0.5px #80808082;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 3vw;
    }
    
    
}

@media screen and (min-width: 1018px) {
    section.clientes div.flex div {
        width: 300px;
        display: flex;
        box-shadow: 0px 0px 2px 0.5px #80808082;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1vw;
    }
    
}
@media screen and (min-width: 1018px) {
    section.clientes {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 300px;
        align-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 345px) {
    section.clientes {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 300px;
        align-content: center;
        align-items: center;
    }
    
}


section.clientes img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin-top: 24px;
    position: relative;
    
}


div.flex p {
    text-align: center;
    margin-top: -30px;
}

div.flex h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

section.clientes h2 {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}
section.clientes h2 span {
    color: #cdab7d;
}

div#aspas img{
    border-radius: 0%;
    width: 30px;
    height: 30px;

}

div#aspas {
    position: relative;
    top: -20px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 50px;
}

#stars img{
    width: 20px;
    height: 20px;
}

#stars {
    box-shadow: none;
    position: relative;
    display: inline-block;
    top: -20px;
    width: 118px;
}

/* Localização */

section.localizacao div.local {
    margin: 0 auto;
    width: 75vw;
    height: 550px;
    position: relative;
    left: 0px;
}

section.localizacao {
    width: 100%;
}
section.localizacao iframe{
    width: 77vw;
    height: 600px;
    
}

div.local {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.localizacao h1.title {
    margin-top: 300px;
    width: 302px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}