@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background: url(imagens/home.jpg) no-repeat center scroll;
    background-size: cover;
    height: 1003px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

header {
    background-color: black;
    height: 15vh;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1001;
}

@media screen and (max-width: 600px) {
    div.logo img {
        left: 10%;
}
    
}
@media screen and (min-width: 601px) {
    div.logo img {
        left: 17%;
}
    
}

div.logo img {
    height: 10vh;
    display: none;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    display: block;
}

nav ul li {
    color: white;
    display: inline-block;
    padding: 7px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    
    
}

nav {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a:hover {
    color: rgb(132, 132, 132);
    transition: 0.3s;
    text-decoration: underline;
    
}

.search {
    display: block;
    position: relative;
    left: 83%;
    font-size: 3.5vh;
    width: 30px;
}

a.search:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
}

.shop {
    display: block;
    position: relative;
    left: 89%;
    top: -31px;
    width: 30px;
    font-size: 4.5vw;
}

div.shop img {
    position: fixed;
}

.shop img:hover {
    transform: translate(-5px, -5px);
    transition: .4s;
    cursor: pointer;
}

/* Conteúdo */


article {
    color: white;
    position: relative;
    top: 30vh;
    left: 10vw;
    width: 50vw;
}

article h1 {
    width: 300px;
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 2px black;
}
article p {
    width: 300px;
    color: rgba(255, 255, 255, 0.526);
}

.pegue {
    margin-top: 15px;
    background-color: rgb(92, 44, 0);
    color: white;
    width: 136px;
    padding: 10px;
}

@media screen and (max-width: 1017px) {
    aside {
        height: 6500px;
    }
    
}
@media screen and (min-width: 1018px) {
    aside {
        height: 4000px;
    }
    
}

aside {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-top: 710px;
    width: 100%;
}

aside h1 span {
    color: rgb(255, 189, 127);
    text-transform: uppercase;
}

aside h1 {
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding-top: 20px;
    margin-bottom: 50px;
    
}

.title {
    font-size: 1.7em;
    text-transform: uppercase;
}

aside p {
    padding: 25px;
    color: rgba(255, 255, 255, 0.554);
    margin-bottom: -30px;
}



.row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

@media screen and (max-width: 1017px) {
    .about img{
        position: relative;
        height: 392px;
        max-width: 549px;
        width: 70vw;
    }
    .coffee {
        position: absolute;
        display: block;
        top: 500px;
        left: 50%;
        transform: translate(-50%, -0%);
        margin-bottom: 500px;
        max-width: 549px;
        width: 70vw;
    }
    h1#coffee {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    section.menu h1 {
        margin-top: 500px;
    }
}

@media screen and (min-width: 1018px) {
    .coffee {
        width: 542px;
    }


    .about img{
        position: relative;
        height: 392px;
        width: 542px;
    }
    
}


.coffee {
   background-color: rgb(31, 31, 39);
}

.coffee h1 {
    color: aqua;
}

.coffee p {
    margin-top: -50px;
    padding-bottom: 55px;
}

.saiba {
    position: relative;
    display: flex;
    margin: 30px 0px 0px 20px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #cdab7d;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.saiba:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

section.menu h1 {
    font-size: 2em;

}

@media screen and (max-width: 1017px) {
    div.menu-1 {
        width: 296px;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
@media screen and (min-width: 1018px) {
    div.menu-1 {
        width: 888px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 1017px) {
    div.menu-2 {
        width: 296px;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
}
@media screen and (min-width: 1018px) {
    div.menu-2 {
        width: 888px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

div.menu-1 {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
    margin-top: 70px;    
}


div.menu-2 {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.384);
}

div.menu-1 div {
    height: 300px;
    margin: 30px;
    padding-right: 0px;
    box-shadow: 0px 0px 2px 0.5px #80808082;
    cursor: pointer;
}
div.menu-2 div {
    margin: 30px;
    height: 300px;
   box-shadow: 0px 0px 2px 0.5px #80808082;
   cursor: pointer;
}



div.menu-1 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
}

div.menu-2 img {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 30px 75px 120px 75px;
    
} 

div.menu-1 div:hover, div.menu-2 div:hover {
    background-color: white;
}

div.menu-1 div:hover>*, div.menu-2 div:hover>* {
    color: black;
}


div.menu-1 div h3, div.menu-2 div h3 {
    color: white;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -100px;
    justify-content: center;
    cursor: pointer;
    width: 63%;
    height: 30px;
}

span.price {
    display: block;
    position: relative;
    height: 30px;
    color: white;
    top: -100px;
    left: 45px;
}
span.sale {
    text-decoration: line-through;
    font-weight: 100;
    font-size: 14px;
    margin-left: 5px;
}

div.menu-1 div button, div.menu-2 div button {
    display: block;
    position: relative;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 5px;
    background-color: #cdab7d;
    border-radius: 10%;
    color: white;
    text-shadow: 1px 1px 1px 1px solid black;
}

div.menu-1 div button:hover, div.menu-2 div button:hover {
    transform: translate(-5px, -5px);
    transition: 0.5s;
}

/* Clientes */

@media screen and (max-width: 1017px) {
    section.clientes div.flex {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 296px;
    }
    
}
@media screen and (min-width: 1017px) {
    section.clientes div.flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 1017px) {
    section.clientes div.flex div {
        width: 300px;
        display: flex;
        box-shadow: 0px 0px 2px 0.5px #80808082;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 3vw;
    }
    
    
}

@media screen and (min-width: 1018px) {
    section.clientes div.flex div {
        width: 300px;
        display: flex;
        box-shadow: 0px 0px 2px 0.5px #80808082;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1vw;
    }
    
}
@media screen and (min-width: 1018px) {
    section.clientes {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 300px;
        align-content: center;
        align-items: center;
    }
    
}


section.clientes img{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    margin-top: 24px;
    position: relative;
    
}


div.flex p {
    text-align: center;
    margin-top: -30px;
}

div.flex h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

section.clientes h2 {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
}
section.clientes h2 span {
    color: #cdab7d;
}

div#aspas img{
    border-radius: 0%;
    width: 30px;
    height: 30px;

}

div#aspas {
    position: relative;
    top: -20px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    width: 50px;
}

#stars img{
    width: 20px;
    height: 20px;
}

#stars {
    box-shadow: none;
    position: relative;
    display: inline-block;
    top: -20px;
    width: 118px;
}

section.localizacao div.local {
    margin: 0 auto;
    width: 600px;
    height: 550px;
    position: relative;
    left: 0px;
}

section.localizacao {
    width: 98vw;
}